.welcomeContent {
	width: 40%;
	font-size: 140%;
	float: left;
	padding-right: 3em;
	line-height: 150%;
	padding: 1em;
	font-weight: normal;
}

.welcomeHeading {
	text-align: center;
}

.welcomeWrapper{
	border: 2px lightgray solid;
	background-color: #FFDE5E;
	margin: 1em;
}
.welcomeImg {
	border: solid 4pt white;
	margin: 1em;
}

.green-alert {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    padding: 15px;
    margin-bottom: 20px;
	color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}

.yellow-alert {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
    padding: 15px;
    margin-bottom: 20px;
	color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    border-radius: 4px;
}
